
*{
    padding: 10px 0 10px 10px;
    background-image: url("fondo3.jpg");
    font-size: 30px;
    color: rgb(250, 247, 81);
    justify-content: center;

}

#logo{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    flex: 1 1 auto;
    display: flex;
}
#exampleInputEmail1.form-control{
    color:orange;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    font-size: 25px;
}


