*{
    padding: 1px;
    box-sizing:border-box;
   
}

#items{
    display: flex;
    justify-content: end;
    align-items:center;
    
}
#itemsnav{}

img.imgbanner{
    height: 400px;
    width: 100%;
}
#fotoperfil{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border-style:groove;
    border-color: purple;
    position: absolute;
    bottom: 150px;

}
h4#titulocarta{
    display: flex;
    padding-top: 100px;
   
}
#btnedit{
 position: absolute;
 right: 100px;
 bottom: 100px;
border-radius: 10px;
}

#AcercaDe{
    border-radius: 10px;
    
}

.container-fluid{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}
#botones{
   padding-left: 85%;
   justify-content:center;
}
#login{
    border-style:groove;
    border-radius: 15px;
    border-color: violet;
    font-weight: 500;
}
.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey *